.transition {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box {
  border-radius: 8px;
  border: 1px solid #a8beea;
  background: #fff;
  padding: 11px 19px;
  color: #a8beea;
  text-align: center;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  position: relative;
  width: 32px;
  height: 32px;
  padding: 11px 19px;
}

.box::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 3;
}

.box1::before {
  content: "1";
}

.box2::before {
  content: "2";
}

.box3::before {
  content: "3";
}

.box.active {
  color: #fff;
  border-radius: 8px;
  border: 1px solid, #1249b5;
  background: #1249b5;
}

.box::after {
  background: #a8beea;
  content: "";
  width: 143px;
  height: 1px;
  top: 50%;
  position: absolute;
  left: 100%;
  transform: translateY(-50%);
}

.box.completed {
  border-radius: 8px;
  border: 1px solid #0abe68;
  background: #0abe68;
}

.box.completed::before {
  content: url("../../../assets/tick.svg");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 3;
}

.box.completed::after {
  background: linear-gradient(270deg, #039 0%, #0abe68 100%), #039;
}

.box.final::after {
  background: #0abe68;
}

.box:last-child::after {
  display: none;
}

.how__wrapper {
  padding-top: 8px;
}

.blue-box {
  margin-top: 8px;
  height: 120px;
  border-radius: 12px;
  background: #dbe3f5;
  padding: 14px 16px;
  color: var(--ui-kit-react-black, #111318);
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

.blue-small-box {
  height: 56px;
}
