.box {
  margin-top: 32px;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid var(--background-stroke, #d2dcf0);
  background: linear-gradient(
      0deg,
      rgba(255, 204, 0, 0.1) 0%,
      rgba(255, 204, 0, 0.1) 100%
    ),
    #fff;
  color: var(--ui-kit-react-black, #111318);
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.box li {
  color: var(--ui-kit-react-black, #111318);
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.live {
  position: relative;
}

.live::after {
  content: "";
  background: url("../../assets/live.png") no-repeat;
  background-size: contain;
  position: absolute;
  width: 55px;
  height: 22px;
  margin-left: 12px;
}

.download {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 16px 29px 16px 24px;
  border-radius: 12px;
  border: 1px solid var(--buttons-primary, #1249b5);
}

.download span {
  color: var(--buttons-primary, #1249b5);
  text-align: center;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.28px;
  text-transform: uppercase;
}

.btn {
  text-decoration: none;
}

.sms-purchase__btn {
  margin-top: 16px;
  border-radius: 12px;
  background: var(--ui-kit-react-blue, #1249b5);
  padding: 18px 24px;
  color: #fff;
  text-align: center;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.28px;
  text-transform: uppercase;
}

.schedule h3 {
  font-size: 24px;
}

.schedule p {
  margin-top: 0;
}

.note {
  margin-top: 32px;
  color: var(--ui-kit-react-black, #111318);
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.sms p {
  color: var(--ui-kit-react-black, #111318);
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.sms-box1 {
  margin-top: 16px;
}

.sms-box2 {
  margin-top: 24px;
}
